body {
    background-color: grey;
    color: white;    
}
div#mainContainer {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    font-size: 16px;
    /* border: 2px solid white; */
}
h1 {
    font-size: 50px;
}
div#controls {
  float: left;
  margin-right: 10px;
}
div#ctrlWhiteFrame {
  padding: 5px;
  width: 320px;
  height: 375px;
  border: 2px white solid;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
div#jsFilesUpload {
  width: 315px;
  margin-top: 10px;
  border: 2px white solid;
}
div#result {
  width: 600px;
  float: left;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  #test1 {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  #circle {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  input:checked + #slider {
    background-color: #2196F3;
  }
 input:checked + span #circle {
    left: 30px;
  }
  #slider {
    border-radius: 34px;
  } 
  #circle {
    border-radius: 50%;
  }  
body {
  background: grey;
}
button#btnDownload {
  width: 120px;
  height: 30px;
  background-color: turquoise;
}
button#launch {
    width: 150px;
    height: 45px;
}
button#reset {
    width: 65px;
    height: 45px;
}
input[type=file] {
    height: 50px;
}
div#ierarchyScheme {
    background-color: lime;
    height: 250px;
    width: 780px;
    color: black;
}
div#codeOfFunction {
  background-color: lime;
  height: 120px;
  width: 780px;
  color: black;
}
div#note {
  background-color: white;
  height: 75px;
  width: 780px;
  color: black;
}
a {
    color: blue;
    font-size: 16px;
}